<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TP_Preguntados</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TP_Preguntados.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <header>

    </header>
        @RenderBody()
    <footer >
        <div class="footer-content">
            <div class="footer-logo">
                <a href="Index.cshtml"><img src="/Fotos/Logo.png" alt="Logo"></a>
            </div>
            <div class="footer-links">
                <div class="footer-column">
                    <a href="Index.cshtml">Home</a>
                    <a href="ConfigurarJuego.cshtml"> Configurar Juego</a>
                    <a href="Juego.cshtml"> Juego</a>
                </div>
                <div class="footer-column">
                    <a href="Fin.cshtml"> Fin</a>
                    <a href="Respuesta.cshtml">Respuesta</a>
                    <a href="TablaPuntajes.cshtml">Tabla Puntajes</a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            &copy; 2024 - TP_Preguntados - Szwarcbort - Garber - Passer
        </div>
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
