@{
    ViewData["Title"] = "Fin";
}
<main class="background">
    <section class="congratulations-message">
        <div class="congratulations-text">
            <h1>Felicidades @Juego.Username!</h1>
            <p>Terminaste con @ViewBag.puntajeActual puntos!</p>
        </div>
    </section>

    <section class="button-section1">
       
        <a href='@Url.Action("AgregarPuntaje", "Home", new { fecha = DateTime.UtcNow.ToString("yyyy-MM-ddTHH:mm:ssZ") })' 
           class="btn btn-primary1 custom-button1">
           Ver La Tabla De Puntajes
        </a>

        <a href='@Url.Action("ConfigurarJuego")' class="btn btn-secondary custom-button1">
            Volver a Jugar!
        </a>
    </section>

    @section Scripts {
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const now = new Date();
                const formattedDate = now.toISOString();
                document.getElementById("fechaHora").value = formattedDate;
            });
        </script>
    }
</main>