

@{
    ViewData["Title"] = "Fin";
}

<form action='@Url.Action("AgregarPuntaje", "Home")' method="post">
    <div class="form-group">
        <input type="hidden" name="fecha" id="fechaHora" />
    </div>
    <button type="submit" class="btn btn-primary">Ver La Tabla De Puntajes</button>
</form>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const now = new Date();
            const formattedDate = now.toISOString();
            document.getElementById("fechaHora").value = formattedDate;
        });
    </script>
}
