    
    <p class = "ptos">@Juego.Username TERMINASTE EL JUEGO CON @ViewBag.PuntajeActual PUNTOS</p>
    <img src="../Fotos/victoria.jpg" class="img-fluid" alt="...">
    <div class="button-container">
        <a href='@Url.Action("ConfigurarJuego")' class="custom-button" type="button"> Juega de Nuevo! </a>
    </div>
    