

@{
    ViewData["Title"] = "Fin";
}

<form action='@Url.Action("AgregarPuntaje", "Home")' method="post">
<div class="form-group">
        <label for="fechaHora" class="control-label">Fecha y Hora</label>
        <input id="fechaHora" name="FechaHora" class="form-control" type="datetime-local" />
    </div>
    <button type="submit" class="btn btn-primary">Ver La Tabla De Puntajes</button>
</form>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const now = new Date();
            const formattedDate = now.toISOString().slice(0, 16);
            document.getElementById("fechaHora").value = formattedDate;
        });
    </script>
}
