@{
    ViewData["Title"] = "Home Page";
}

<body>
    
    <main class = "background">
        <button type="button" class="btn btn-primary btn-lg" onclick="configurarJuego()"> Configurar Juego</button>
    </main>
    
</body>



