@{
    ViewData["Title"] = "Home Page";
}
    
<main class = "background">
    <div class= "img">
        <img src="/Fotos/pregunta2.png" alt="logoTitul">
     </div>
        
    <div class="button-container">
        <a href='@Url.Action("ConfigurarJuego")' class="custom-button" type="button"> Comencemos </a>
    </div>
</main>
    




