@{
    ViewData["Title"] = "Home Page";
}

<body>
    
    <main class = "background">
        <div class= "img">
            <img src="/Fotos/logoTitul.png" alt="logoTitul">
        </div>
        
        <div class="button-container">
             <button type="button" class="custom-button" onclick="configurarJuego()"> Iniciar Juego </button>
        </div>
    </main>
    
</body>



