@if(ViewBag.respuestaCorrecta)
{
    <main class = "backgroundVic"> 
            <h2>CORRECTO!</h2>
            <div class="d-grid gap-2 col-6 mx-auto">
            <img src="../Fotos/correcta.jpg" class="img-fluid" alt="...">
                <a href='@Url.Action("Jugar", "Home")' class="btn btn-primary" type="button"> Siguiente! </a>
            </div>
    </main>
}
else{
    <div class = "backgroundPer">
        <h2>ERROR!</h2>
            <div class="d-grid gap-2 col-6 mx-auto">
                <a href='@Url.Action("Jugar", "Home")' class="btn btn-primary" type="button"> Siguiente! </a>
                
            </div>
    </div> 
}


