@{
    ViewData["Title"] = "Tabla de Puntajes";
}
<main class = "background">
<div class="card">
    <div class="card-header">
        <h2>Ranking de Jugadores</h2>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre Jugador</th>
                    <th>Puntaje</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Puntajes jugador in ViewBag.ListaJugadores)
                {
                    <tr>
                        <td>@jugador.NombreJugador</td>
                        <td>@jugador.Puntaje</td>
                        <td>@jugador.FechaHora</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="button-container">
        <a href='@Url.Action("Index")' class="custom-button" type="button"> Vuelve al inicio! </a>
    </div>
</main>