html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.imgindex img{
  width: 100%;
  height: 700px;
}

.background {
  background-image: url('../Fotos/fondoIndex.jpg');
  
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}


footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo img {
  width: 150px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-column {
  flex: 1;
  min-width: 150px;
}

.footer-column a {
  color: white;
  text-decoration: none;
  display: block;
  margin: 5px 0;
}

.footer-column a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 20px;
}






.containerTarjeta {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h1 {
  background-color: #f2c94c;
  color: #fff;
  margin: 0;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.pregunta {
  font-size: 1.2em;
  margin: 20px 0;
  padding: 10px;
  background-color: #ebebeb;
  border-radius: 5px;
}

.pregunta img {
  width: fit-content;
  height: 100px;
}

.opciones {
  list-style-type: none;
  padding: 0;
}

.opciones li {
  margin: 10px 0;
}

.opciones button {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #ebebeb;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.opciones button:hover {
  background-color: #f2c94c;
  color: #fff;
  border: 2px solid #f2c94c;
}
.vict img{
  width: 100%;
  height: 700px;
}