html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.imgindex img{
  width: 100%;
  height: 700px;
}
.center{
  display: flex;
  align-items: center;
}
.background {
  background-image: url('../Fotos/fondoIndex.jpg');
  width: 100%;
  height: 900px;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}
.fondo{
  background-color: #f2c94c;
  display: flex;
  justify-content: center;
  
}

.backgroundVic {
  width: 100%;
  height: 900px;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-color:#06D001;
}
.d-grid{
  display: flex;
  justify-content: center;
}
.backgroundPer img {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.backgroundPer img, .backgroundVic img{
  margin-bottom: 5%;
  margin-top: 5%;
}

.backgroundPer{
  background-color:red;
}
.backgroundPer h2, .backgroundVic h2{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: black;
  font-size:500%;
  display: flex;
  justify-content: center;
}

.img{
  display: flex ;
  justify-content: center;
}

.custom-button {
  background-color: #7453A2;
  color: white;
  border: none;
  font-size: 4.5em;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}

.custom-button:hover { 
  background-color: #493566;
  color: white; 
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo img {
  width: 150px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-column {
  flex: 1;
  min-width: 150px;
}
.ptos{
  font-weight: bolder;
}

.footer-column a {
  color: white;
  text-decoration: none;
  display: block;
  margin: 5px 0;
}

.footer-column a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 20px;
}



header{
  margin-bottom: 20px;
}


.containerTarjeta {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 50%;
  height: 600px;
  margin-top: 10%;
  margin-bottom: 10%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
}

h1 {
  background-color: #f2c94c;
  color: #fff;
  margin: 0;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.pregunta {
  font-size: 1.2em;
  margin: 20px 0;
  padding: 10px;
  background-color: #ebebeb;
  border-radius: 5px;
}

.pregunta img {
  width: fit-content;
  height: 100px;
}

.opciones {
  list-style-type: none;
  padding: 0;
}

.opciones li {
  margin: 10px 0;
}

.opciones button {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #ebebeb;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.opciones button:hover {
  background-color: #f2c94c;
  color: #fff;
  border: 2px solid #f2c94c;
}


form {
  
  background-color: #d1d1d1;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto;
}

.form-label {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #333;
}

.form-control, .form-select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form-control:focus, .form-select:focus {
  border-color: #7453A2;
  box-shadow: 0 0 5px rgba(116, 83, 162, 0.5);
  outline: none;
}

.btn-primary {
  background-color: #7453A2;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
}

.btn-primary:hover {
  background-color: #5f4585;
}

.btn-primary:active {
  background-color: #4a3b6a;
}

form div {
  display: flex;
  flex-direction: column;
}
